Repository famedly/container-image-flutter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-latest-openjdk, docker-build-latest-android

.gitlab-ci.yml:

stages:
  - build_java
  - build_android
  - build

docker-build-latest-openjdk:
  # Official docker image.
  image: docker:latest
  stage: build_java
  services:
    - docker:19.03.1-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "${CI_REGISTRY_IMAGE}:openjdk" -f Dockerfile.openjdk .
    - docker push "${CI_REGISTRY_IMAGE}:openjdk"
  only:
    refs:
        - master
    changes:
        - Dockerfile.openjdk

docker-build-latest-android:
  # Official docker image.
  image: docker:latest
  stage: build_android
  services:
    - docker:19.03.1-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "${CI_REGISTRY_IMAGE}:android" --build-arg java_image=$CI_REGISTRY_IMAGE:openjdk -f Dockerfile.android .
    - docker push "${CI_REGISTRY_IMAGE}:android"
  only:
    refs:
        - master
    changes:
        - Dockerfile.android
        - Dockerfile.openjdk

docker-build-latest-master:
  # Official docker image.
  image: docker:latest
  stage: build
  services:
    - docker:19.03.1-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE" --build-arg flutter_version_url=$CI_FLUTTER_STABLE_VERSION_URL --build-arg android_image=$CI_REGISTRY_IMAGE:android -f Dockerfile .
    - docker push "$CI_REGISTRY_IMAGE"
  only:
    - master

docker-build-stable-master:
  # Official docker image.
  image: docker:latest
  stage: build
  services:
    - docker:19.03.1-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "${CI_REGISTRY_IMAGE}:stable" --build-arg flutter_version_url=$CI_FLUTTER_STABLE_VERSION_URL --build-arg android_image=$CI_REGISTRY_IMAGE:android -f Dockerfile .
    - docker push "${CI_REGISTRY_IMAGE}:stable"
  only:
    - master

docker-build-beta-master:
  # Official docker image.
  image: docker:latest
  stage: build
  services:
    - docker:19.03.1-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "${CI_REGISTRY_IMAGE}:beta" --build-arg flutter_version_url=$CI_FLUTTER_BETA_VERSION_URL --build-arg android_image=$CI_REGISTRY_IMAGE:android -f Dockerfile .
    - docker push "${CI_REGISTRY_IMAGE}:beta"
  only:
    - master

docker-build-dev-master:
  # Official docker image.
  image: docker:latest
  stage: build
  services:
    - docker:19.03.1-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "${CI_REGISTRY_IMAGE}:dev" --build-arg flutter_version_url=$CI_FLUTTER_DEV_VERSION_URL --build-arg android_image=$CI_REGISTRY_IMAGE:android -f Dockerfile .
    - docker push "${CI_REGISTRY_IMAGE}:dev"
  only:
    - master

docker-build:
  # Official docker image.
  image: docker:latest
  stage: build
  services:
    - docker:19.03.1-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" --build-arg flutter_version_url=$CI_FLUTTER_STABLE_VERSION_URL --build-arg android_image=$CI_REGISTRY_IMAGE:android -f Dockerfile .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
  except:
    - master

Add lcov
  Dockerfile
Due: none

Add cmake to android images
  Dockerfile.android
Due: docker-build-latest-android

Update Dockerfile
  Dockerfile
Due: none

Add g++
  Dockerfile
Due: none

Update ndk
  Dockerfile.android
Due: docker-build-latest-android

Fix lldb not found
  Dockerfile.android
Due: docker-build-latest-android

Add android-30
  Dockerfile.android
Due: docker-build-latest-android

Fix android-30 install
  Dockerfile.android
Due: docker-build-latest-android

Install android-28 as it seems to be required in famedly app
  Dockerfile.android
Due: docker-build-latest-android

fix(android): Also install build tools version 28.0.3
  Dockerfile.android
Due: docker-build-latest-android

ANDROID_HOME -> ANDROID_SDK_ROOT
  Dockerfile.android
Due: docker-build-latest-android

add curl
  Dockerfile
Due: none

fix: Ensure we have ruby 2.7 instead of 3.0
  Dockerfile.openjdk
Due: docker-build-latest-openjdk, docker-build-latest-android

feat: Add dockerimage for integration tests
  .gitlab-ci.yml
  Dockerfile.integrationtests
Due: none

chore: add tags to CI
  .gitlab-ci.yml
Due: none

chore: Install NDK using sdkmanager
  Dockerfile.android
Due: docker-build-latest-android

add linux build container
  .gitlab-ci.yml
  Dockerfile.linux
Due: none

add alpine based flutter image
  .gitlab-ci.yml
  alpine_flutter/Dockerfile
  alpine_flutter/sgerrand.rsa.pub
  linux/Dockerfile
Due: none

chore: Rename CI images and add version as tag
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.integrationtests
  linux/Dockerfile
Due: none

fix: Add libsecret to linux image
  linux/Dockerfile
Due: none

Update preinstalled version of ndk and Build tools
  Dockerfile.android
Due: docker-build-latest-android

fix: Actually install the dev package for libsecret
  linux/Dockerfile
Due: none

fix: Linux builds require libjsoncpp
  linux/Dockerfile
Due: none

alpine based images
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.android
  Dockerfile.integrationtests
  Dockerfile.openjdk
  alpine_flutter/Dockerfile
  android/Dockerfile
  android/sgerrand.rsa.pub
  linux/Dockerfile
Due: docker-build-latest-openjdk, docker-build-latest-android

install nodejs in integration test image
  Dockerfile.integrationtests
Due: none

integration-tests: also add npm
  Dockerfile.integrationtests
Due: none

try to fix android emulator
  Dockerfile.integrationtests
  android/Dockerfile
Due: none

pixel 4 xl
  Dockerfile.integrationtests
Due: none

add tzdata to android image
  android/Dockerfile
Due: none

install ruby-full to get the stdlib
  android/Dockerfile
Due: none

chore: switch to java 11
  android/Dockerfile
Due: none

fix: did needs to select the privileged runner nowadays
  .gitlab-ci.yml
Due: none

chore: Use current dind image
  .gitlab-ci.yml
Due: none

feat: Add sqlite3 to linux container
  linux/Dockerfile
Due: none

feat: Add libolm to container
  linux/Dockerfile
Due: none

Update latest tags properly
  .gitlab-ci.yml
Due: none

Fixup tag command for latest tag
  .gitlab-ci.yml
Due: none

fix: Flutter beta and dev channel tagging
  .gitlab-ci.yml
Due: none

chore: make linux images useable for sdk coverage jobs
  linux/Dockerfile
Due: none

chore: Add xterm to image
  linux/Dockerfile
Due: none
